imagecompressor/__pycache__
__pycache__/
imagecaption/__pycache__
cachemodel/__pycache__
cache/
static/
.vscode/
.DS_Store
out.txt
output.txt
CACHED_FILE.pkl
responseJson.json
test_compressed.jpg
uploaded/
*.jpg