image_processor/__pycache__
__pycache__/
*/__pycache__
cache/
src/static/
src/.cache/
src/temp/
.vscode/
.DS_Store
response_json.json
test_compressed.jpg
uploaded/
*.jpg
.env
cookies.txt
entrypoint.sh
task-definition.json
Pipfile
.cache/
aws_docker_command.sh
src/sqlite_chroma_db/
src/test/
src/test_chat.py
execution_times.log
temp/
sqlite_chroma_db/
test.ipynb
src/image_processor/usage.py
src_cpp/configuration_manager/build