Flask>=2.2.5
openai
opencv_python==4.7.0.72
Pillow==9.5.0
python-telegram-bot==20.2
streamlit==1.21.0
transformers==4.27.4
boto3
ritetag
pytest
pytest-mock
dnspython
email-validator
PyJWT
flask_cors
gunicorn
Flask-Session
gevent
dill