@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
}
:root{
    --bg-body: #111111;
    --font-col: #E9FDFF;
    --bg-button: #8121D7;
    --bg-button-hov: #9B52DB;
    --font-accent: #E9A9CC;
    --font-error: #ff0000;
}